<div class="register container d-flex justify-content-center">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="custom-form">
        <h1>Registro</h1>

        <div class="row">
            <div class="col">
                <label for="name">Name <span class="required-field">*</span></label>
                <input id="name" type="text" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" placeholder="Name" required />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                    <div *ngIf="f['name'].errors['required']">
                        Name is required
                    </div>
                    <div *ngIf="f['name'].errors['minlength']">
                        Minimun of 6 chars length is required
                    </div>
                </div>
            </div>
            <div class="col">
                <label for="companyName">Company name</label>
                <input id="companyName" type="text" formControlName="companyName" placeholder="Company name" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="email">Email <span class="required-field">*</span></label>
                <input id="email" type="email" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="Email" required />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">
                        Email is required
                    </div>
                    <div *ngIf="f['email'].errors['minlength']">
                        Minimun of 6 chars length is required
                    </div>
                    <div *ngIf="f['email'].errors['email']">
                        Email format is required
                    </div>
                </div>
            </div>
            <div class="col">
                <label for="phoneNumber">Phone number</label>
                <input id="phoneNumber" type="text" formControlName="phoneNumber"
                    [ngClass]="{ 'is-invalid': f['phoneNumber'].value.length > 0 && f['phoneNumber'].errors }"
                    placeholder="Phone number" />
                <div *ngIf="f['phoneNumber'].value.length > 0 && f['phoneNumber'].errors" class="invalid-feedback">
                    <div *ngIf="f['phoneNumber'].errors['pattern']">
                        Just numbers, "+" and spaces are allow
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="password">Password <span class="required-field">*</span></label>
                <input id="password" type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" placeholder="Password" />
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">
                        Password is required
                    </div>
                    <div *ngIf="f['password'].errors['minlength']">
                        Minimun of 6 chars length is required
                    </div>
                </div>
            </div>
            <div class="col">
                <label for="companyWeb">Company web</label>
                <input id="companyWeb" type="text" formControlName="companyWeb"
                    [ngClass]="{ 'is-invalid': f['companyWeb'].value.length > 0 && f['companyWeb'].errors }"
                    placeholder="Company web" />
                <div *ngIf="f['companyWeb'].value.length > 0 && f['companyWeb'].errors" class="invalid-feedback">
                    <div *ngIf="f['companyWeb'].errors['email']">
                        Just web format is allow
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="confirmPassword">Confirm password <span class="required-field">*</span></label>
                <input id="confirmPassword" type="password"
                    [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
                    formControlName="confirmPassword" placeholder="Confirm password" />
                <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                    <div *ngIf="f['confirmPassword'].errors['required']">
                        Confirm password is required
                    </div>
                    <div *ngIf="f['confirmPassword'].errors['matching']">
                        Confirm password does not match
                    </div>
                </div>
            </div>
            <div class="col">
                <mat-radio-group formControlName="radioTypeUser">
                    <div class="row checkbox-row">
                        <div class="col d-flex align-items-center">
                            <mat-radio-button class="example-margin" color="primary" (change)="radioChange('person')">
                                I´m a person
                            </mat-radio-button>
                        </div>
                        <div class="col d-flex align-items-center">
                            <mat-radio-button class="example-margin" color="primary" (change)="radioChange('company')">
                                I´m a company
                            </mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
            </div>
        </div>

        <button type="submit">Register</button>
    </form>
</div>