@media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      background-color: transparent;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .nav-link {
        font-size: 1.25em;
        transition: font-size 0.3s ease-in-out;
      }
    #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .nav-link {
        font-size: 1em;
      }
    #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
      height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
    #mainNav .navbar-nav button {
        background-color: rgba(var(--bs-black-rgb),var(--bs-bg-opacity)) !important;
    }
    ::ng-deep .mat-menu-panel {
        background-color: black;
    }
    ::ng-deep .mat-menu-panel button {
        color: rgba(255,255,255,.55);
    }
    #mainNav .navbar-nav .dropdownMenuButton {
        color: rgba(255,255,255,.55);
        margin-right: 1rem;
        border: 0;
        font-size: 1.25em;
        transition: font-size 0.3s ease-in-out;
        outline: none;
    }
    #mainNav.navbar-shrink .dropdownMenuButton {
        color: rgba(255,255,255,.55);
        margin-right: 1rem;
        border: 0;
        font-size: 1em !important;
    }
    #mainNav .navbar-nav .dropdownMenuButton:hover,
    ::ng-deep .mat-menu-panel button:hover {
        color: rgba(255,255,255,.75) !important;
    }
  }