<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Opciones</h2>
            <h3 class="section-subheading text-muted">¿Por dónde te gustaría empezar?</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <fa-stack class="fa-4x" style="cursor: pointer;" routerLink="about-me">
                    <fa-icon class="text-primary" [icon]="['fas', 'circle']" stackItemSize="2x"></fa-icon>
                    <fa-icon [icon]="['fas', 'user']" [inverse]="true" stackItemSize="1x"></fa-icon>
                </fa-stack>
                <h4 class="my-3">Sobre mi</h4>
                <p class="text-muted">Aquí puedes consultar algo de información sobre mí.
                     Para hacerte una idea de si te interesa contratas mis servicios</p>
            </div>
            <div class="col-md-4">
                <fa-stack class="fa-4x" style="cursor: pointer;">
                    <fa-icon class="text-primary" [icon]="['fas', 'circle']" stackItemSize="2x"></fa-icon>
                    <fa-icon [icon]="['fas', 'calendar-alt']" [inverse]="true" stackItemSize="1x"></fa-icon>
                </fa-stack>
                <h4 class="my-3">Solicitar reunión</h4>
                <p class="text-muted">Oye, que me interesa lo que veo, pues desde aquí podrás solicitar una reunión o entrevista de trabajo</p>
            </div>
            <div class="col-md-4">
                <fa-stack class="fa-4x" style="cursor: pointer;">
                    <fa-icon class="text-primary" [icon]="['fas', 'circle']" stackItemSize="2x"></fa-icon>
                    <fa-icon [icon]="['fas', 'envelope-open-text']" [inverse]="true" stackItemSize="1x"></fa-icon>
                </fa-stack>
                <h4 class="my-3">Contacto</h4>
                <p class="text-muted">¿No estás seguro y quieres algo más de información? Pregúntame lo que quieras</p>
            </div>
        </div>
    </div>
</section>