<section class="page-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h2 class="section-heading text-uppercase">Sobre mí</h2>
            <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <a style="cursor: pointer;" class="portfolio-item" routerLink="/about-me/education">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Formación académica</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio-1.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" routerLink="/about-me/experience">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Experiencia profesional</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio-2.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Aptitudes</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio-3.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Experiencia personal</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio-4.jpg" alt="..." />
                </a>
            </div>
        </div>
    </div>
</section>